*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
}
#calc{
    background-color:rgba(0, 0, 0, 0.699);
    width: 380px;
    height: 410px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}
#visor{
    background-color: rgb(245, 241, 241);
    width: 370pxpx;
    height:80px;
    border-radius: 3px;
    padding-right: 10px;
    box-shadow: inset 0px 0px 2px 2px rgba(116, 116, 116, 0.75);
}
p{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
    width: 360px;
    height: 80px;
    padding-right: 10px;
    
}
h1{
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}
#teclado{
    margin-top: 10px;
}
#linha4, #linha3, #linha2, #linha1{
    display: flex;
    margin:auto;
    align-items: center;
}
#btigual button{
    width: 145px;
}
button{
    width: 68px;
    height: 60px;
    margin: 4px;
    font-size: 43px;
    box-shadow: 2px 2px 2px rgb(37, 37, 37);
}


